P{
    margin-left: 20px;
    color:rgb(255, 0, 0);
    font-size: 15px;
}
/*  */
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
/*  */
body {
    background: rgba(173, 243, 226, 0.233);
    margin: 0px;
    padding: 20px;
}
/* style */
.href{
    color:chartreuse;
}
.div7{height:20px;width:300px;border:0px solid rgb(3, 3, 3);background-color:yellow;}
.green {
    color: green;
  }

  